.not{
	height: auto;
	width: 100%;
}
body{
	margin: 0;
	padding: 0;
	background-color: #f0ad4e; 
}
hr{
	width: 90%;
	border-top: 1.5px solid #f0ad4e;
}
.body{
	background-color: rgba(255, 255, 255, 0.83);
	border-radius: 15px;
	.description{
		text-align: justify;
	}
	.article-once{
		padding-bottom: 30px;
	}
	h1{
		text-align: center;
	}
}
.header{
	width: 70%;
	margin-left: 15%;
	margin-right: 10%;
	padding: 0;
	.navbar-inverse{
		border-radius: 7px;
		background-color: #000;
		padding: 3px 3px;
		a{
			padding-right: 15px;
			color: #f0ad4e;
			font-size: 1.15em;
			&:hover{
				background-color: #f0ad4e;
				color: #000;
			}
		}
		.li-right{
			float: right;
		}
	}
}
.timestamp{
	color: #A9A9A9;
}
.form-inline{
	margin: 5px;
}